.header {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 60px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  border-bottom: 1px solid #ccc;
  border-radius: 0 0 8px 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.container {
  width: 90%;
  min-width: 1300px;  /* 추가 */
}

/* NavDropdown 타이틀 (드롭다운 토글 버튼) */
.nav-link,
.nav-link.dropdown-toggle {
  font-size: 0.9rem !important;
}

/* 드롭다운 메뉴 항목 */
.dropdown-menu .dropdown-item {
  font-size: 0.9rem;
}